---
import Layout from "@layouts/Default.astro";
import RecentBlogPosts from "@components/generic/RecentBlogPosts.astro";
import MobileSocials from "@components/home/MobileSocials.astro";
import { Pill } from "@eliancodes/brutal-ui";
import { Button } from "@eliancodes/brutal-ui";
import { Card } from "@eliancodes/brutal-ui";
import SummaryCard from "@components/generic/SummaryCard.astro";
import { Image } from "astro:assets";

const communities = [
  { name: "code.drift", url: "https://youtu.be/AlO_u2SC0jE" },
  { name: "lab59", url: "https://docs.google.com/document/d/1JLik1bdX64cG-GEccpP7e6nbGDTYbCVkZBr3YLcIKho/edit?usp=sharing" },
  // have to replace this link w/ something that shows all of it together (the doc, insta event posters, lab photos)
  {
    name: "blob labs",
    url: "https://youtu.be/6N1Rv1qy8uE",
  },
  { name: "dra.ft", url: "https://dra-ft.site/" },
  {
    name: "RRAP hub",
    url: "https://photos.app.goo.gl/euWvkj2LGqrnXR5R9",
    // have to add more photos of happenings, community stuff, us
  },
];

const seeMore = [ 
{ name: "reach out to me on IG", url: "https://instagram.com/nanditi.k/" },
{ name: "check out my musical tinkering", url: "https://www.youtube.com/@nanditi" },
{ name: "breaking linkedin by my existence", url: "https://www.linkedin.com/in/nanditi/" },
]

import profilepic from '../assets/nksonicphoto.png';

---

<Layout title="Home" pageTitle="Nanditi | Home" description="Nanditi Portfolio">
  <main class="bg-pink p-6">
    <MobileSocials />
    <section id="about" class="grid md:grid-cols-8 gap-8 mt-4">
      <div class="col-span-2">
  
      <Image src={profilepic} class="object-cover h-full w-full rounded-lg md:col-span-2 border-3 border-black card-shadow" alt="Elian Van Cutsem" width="392" height="392" loading="lazy" decoding="async" />
      </div>
      <h2 class="hidden">nanditi khilnani</h2>
      <div class="col-span-4">
        <Card color="cyan">
          <div class="flex flex-col justify-between items-start gap-4">
            <p class="mt-1 outfit text-2xl md:text-5xl lg:text-7xl">
              nanditi khilnani
            </p>
            <p class="mt-1 mb-1 outfit text-xl md:text-3xl lg:text-4xl">
              co-founder @ <a href="https://www.ajaibghar.com/" target="_blank"><u>ajaibghar</u></a>
              <br>
              musician, live-coder, tech-artist
              <br> 
              art & community instigater (gardener)
            </p>
            <!-- <Button target={'_self'} href='/blog/'>
              Check out the blog &rarr;
            </Button> -->
          </div>
        </Card>
      </div>
      <div class="col-span-2">
        <Card>
          <h2 class="text-lg md:text-2xl lg:text-4xl mb-3 dm-serif">
            what is ajaibghar?
          </h2>
          <p class="poppins">
            a creative technology studio & lab for art, culture & futures,
            trailblazing a transdisciplinary practice in arts & culture
            utilising the strengths of emerging technology, experience design,
            cultural strategy & community building.
          </p>
        </Card>
      </div>
    </section>
    <section id="about2" class="grid md:grid-cols-8 gap-8 mt-4">
      <div class="col-span-5">
        <Card>
          <p class="poppins">
  this is my millionth attempt at writing a bio. simply put, i&apos;m one of those fortunate few who hopped off the black-and-white, ultra-fancy big-tech treadmill to pave my own muddy but technicolor path as an entrepreneur + artist. like well-merged git branches, i combined the learnings from my tech career with my roots as a classical musician, the heart of an artistic tinkerer, and the genetics of good business to commit to the lofty dream of creating one&apos;s own career out of passion.
<br>so hi, i&apos;m nanditi, a musician and creative-tech entrepreneur. as a classically trained indian musician and live-coder, i explore the intersection of music and tech through generative raga-based electronic music and soundscapes. besides performing, i lead workshops for all ages and experience levels.
<br>i run a creative-technology studio, ajaibghar, where our work is a tasty mix of organic design, low-carb tech, and healthy artistic sensibilities. some popular showcases have been at india art fair, serendipity arts festival, wildcity, vogue india, vice media, and ACRI.
<br>previously, i worked at google india before moving into arts management with jaipur virasat foundation and JAJAM jaipur, focusing on strategy, curation, event programming, and community building, while also conducting ethnomusicology research and supporting grassroots artist initiatives across rajasthan.
          </p>
        </Card>
      </div>

      <div class="col-span-3 space-y-4">
        <Card>
          <h2 class="text-lg md:text-2xl lg:text-4xl mb-4 dm-serif">
            communities i've been cultivating🪴
          </h2>
          <ul class="flex gap-4 flex-wrap">
            {
              communities.map((item) => (
                <li>
                  <Pill>
                    <a
                      class="sanchez"
                      href={item.url}
                      target="_blank"
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>

        <Card>
          <h2 class="text-lg md:text-2xl lg:text-4xl mb-4 dm-serif">
            what i'm up to?
          </h2>
          <ul class="flex gap-4 flex-wrap">
            {
              seeMore.map((item) => (
                <li>
                  <Pill>
                    <a
                      class="sanchez"
                      href={item.url}
                      target="_blank"
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
    </section>
    <RecentBlogPosts />
  </main>
</Layout>
